name: Build Module macOS
on: push

env:
  BUILD_TYPE: Release
  # macOS uses .dylib instead of .so
  LIB_NAME: tetra_demodulator.dylib

jobs:
  build_macos:
    runs-on: macos-latest
    steps:
      - name: Repo checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          brew update
          brew install fftw glfw volk zstd talloc cmake

      - name: Get SDR++ source
        run: |
          wget https://github.com/AlexandreRouma/SDRPlusPlus/archive/refs/heads/master.tar.gz
          mkdir -p sdrpp_lib
          tar -zxvf master.tar.gz -C sdrpp_lib --strip-components=1

      - name: Get SDR++ Core (macOS)
        # Note: We are downloading the macOS .zip instead of the .deb
        uses: dsaltares/fetch-gh-release-asset@master
        with:
          repo: 'AlexandreRouma/SDRPlusPlus'
          version: 'tags/nightly'
          file: 'sdrpp_macos_x86_64.zip' 
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Unpack SDR++ Core
        run: |
          mkdir -p sdrpp_runtime
          unzip sdrpp_macos_x86_64.zip -d sdrpp_runtime
          cp ./.github/workflows/sdrpp_module_hack.cmake ./

      - name: Download ETSI codec
        run: |
          cd src/decoder/etsi_codec-patches
          chmod +x download_and_patch.sh
          ./download_and_patch.sh

      - name: CMake Configuration
        run: |
          mkdir build
          cd build
          cmake .. \
            -DCMAKE_BUILD_TYPE=${{ env.BUILD_TYPE }} \
            -DSDRPP_CORE_ROOT="$GITHUB_WORKSPACE/sdrpp_lib/core" \
            -DSDRPP_LIB_ROOT="$GITHUB_WORKSPACE/sdrpp_runtime/SDR++.app/Contents/Frameworks" \
            -DSDRPP_MODULE_CMAKE="$GITHUB_WORKSPACE/sdrpp_module_hack.cmake"

      - name: Build
        run: |
          cd build
          make -j$(sysctl -n hw.ncpu)
          # 'otool -L' is the macOS equivalent of 'ldd'
          otool -L ${{ env.LIB_NAME }}

      - name: Upload library
        uses: actions/upload-artifact@v4
        with:
          name: tetra_demodulator_macos
          path: ./build/${{ env.LIB_NAME }}
